@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

body {
  background-color: rgb(18, 49, 75);

  margin: 0;
  padding: 0;
}

.header {
  border: 1px solid red;

  .title {
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 50px;
    color: white;
    border: 1px solid cadetblue;
    margin-left: 50px;
  }
}

.footer {
  background-color: black;
  color: white;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 10px;

  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
