@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: rgb(18, 49, 75);

  margin: 0;
  padding: 0;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  .title {
    font-size: 50px;
    color: white;
    margin-left: 50px;
    position: fixed;
    top: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  border: 1px solid red;

  #megaGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .divInside {
      border: 1px solid white;
      color: white;

      width: 50px;
      height: 50px;
    }

    .divInside:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid black;
    }
  }
}

.aside {
  color: white;

  .info {
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(77, 112, 187, 0.3);
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40px;
    right: 75px;

    cursor: pointer;

    transition: 0.5s ease;
  }

  .info:hover {
    background-color: rgb(27, 218, 224);
  }

  .rules {
    border: 5px solid rgb(27, 218, 224);
    background-color: rgb(18, 49, 75, 0.9);
    border-radius: 50px;
    border-top-right-radius: 0;

    width: 450px;
    height: 450px;

    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: absolute;
    top: 110px;
    right: 110px;

    opacity: 0;
    visibility: hidden;

    p,
    ul {
      font-family: "Rubik", sans-serif;
      font-size: 20px;
      margin: 10px;
    }

    transition: 0.5s ease;
  }

  .info:hover + .rules {
    opacity: 1;
    visibility: visible;
  }
}

.footer {
  background-color: black;
  color: white;
  font-size: 10px;

  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
